<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,lcov,opencover</Format>
          <Exclude>[*.Tests]*,[xunit.*]*,[*.TestFramework]*</Exclude>
          <Include>[Sqlx]*</Include>
          <ExcludeByFile>**/obj/**,**/bin/**</ExcludeByFile>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>




